

.timeline_sec_heading .heading_container h1,
.timeline_sec_heading .heading_container h2,
.timeline_sec_heading .heading_container h3,
.timeline_sec_heading .heading_container h4,
.timeline_sec_heading .heading_container h5,
.timeline_sec_heading .heading_container h6 {
margin-bottom: 0;
}
.logo_card_inner .heading_block h1,
.logo_card_inner .heading_block h2,
.logo_card_inner .heading_block h3,
.logo_card_inner .heading_block h4,
.logo_card_inner .heading_block h5,
.logo_card_inner .heading_block h6 {
margin-top: 20px;
margin-bottom: 20px;
}
.timeline_container{}

.timeline_sec_heading .heading_container{
margin-bottom:88px
}

.timeline_sec_heading .heading_container h2{
    text-align: center;
}
.timeline_container .card_inner{
padding:22px 33px 26px 21px;
}

@media only screen and (max-width: 1199px) {
    .inner_slider_container {
        padding: 0;
    }
}
@media only screen and (max-width:991px){
    .slider_progress_wrapper {
            margin-right: 20px;
    }
}