.variant_one, .variant_two  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
}
.variant_one .CardItem {
    width: 33.33%;
    min-height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}
.variant_one .CardItem:after {
    content: "";
    width: 100%;
    height: 100%;
    /* background: #000;
    opacity: 0.4; */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.variant_one .CardItemInner {
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 50px 15px;
}
.variant_one .title h2 {
    color: #fff;
    text-transform: uppercase;
}
.variant_two {
    gap: 20px;
    box-sizing: border-box;
}
.variant_two .CardItem {
    width: calc((100% - 40px) / 3);
    min-height: 700px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}
.variant_two .CardContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 20px;
    position: relative;
    z-index: 2;
}
.variant_two .title {
    width: calc(100% - 30px);
    padding-right: 15px;
}
.variant_two .CardLink {
    width: 30px;
}
.variant_two .CardItemInner {
    position: relative;
    width: 100%;
}
.variant_two .CardItemInner:after {
    content: "";
    width: 100%;
    height: 200%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    /* background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0)); */
}
.variant_two .title * {
    margin: 0;
}

@media screen and (max-width: 1199px) {
   .variant_one .CardItem {
        min-height: 400px;
    } 
    .variant_two .CardItem {
        min-height: 600px;
    }
}
@media screen and (max-width: 991px) {
   .variant_one .CardItem {
        min-height: 350px;
    } 
    .variant_two .CardItem {
        min-height: 500px;
    }
}

@media screen and (max-width: 767px) {
    .variant_one, .variant_two {
        flex-direction: column;
    }
    .variant_one .CardItem {
        width: 100%;
        min-height: 270px;
    }
    .variant_two .CardItem {
        min-height: 400px;
         width: 100%;
    }

}


