.footer_section .flex_container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -30px;
  padding: 34px 0 81px;
}
.footer_section .flex_container .logo_block {
  width: calc(30% - 60px);
  margin: 0 30px;
}
.footer_logo {
  max-width: 123px;
}
.footer_logo a{
  display: flex;
  align-items: center;
}
.bottom_logo {
  max-width: 199px;
}
.footer_section img {
  width: 100%;
  height: auto;
  display: block;
}

.footer_section .flex_container .menu_block {
  width: calc(20% - 60px);
  margin: 0 30px;
}
.footer_section .flex_container .menu_block ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer_section .flex_container .contact_block {
  width: calc(30% - 60px);
  margin: 0 30px;
}
.footer_section .flex_container .social_icon_block {
  width: calc(20% - 60px);
  margin: 0 30px;
  display: flex;
  align-items: flex-end;
}
.social_icon_block .icon_list ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 16px;
}
.social_icon_block .icon_list ul li {
  background: #fafafa;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
  height: 34px;
  width: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.6s ease-in-out;
}
.social_icon_block .icon_list ul li:hover {
  background: #718096;
}
.social_icon_block .icon_list ul li:hover svg {
  fill: #fafafa;
}
.social_icon_block .icon_list svg {
  height: 13px;
  width: 13px;
  display: block;
}
.bottom_footer {
  padding: 34px 0 42px;
  border-top: 1px solid #cbd5e0;
  text-align: center;
}

@media (max-width: 1262px) {
  .footer_section .flex_container {
    margin: 0 -15px;
  }
  .footer_section .flex_container .logo_block {
    width: calc(30% - 30px);
    margin: 0 15px;
  }

  .footer_section .flex_container .menu_block {
    width: calc(20% - 30px);
    margin: 0 15px;
  }

  .footer_section .flex_container .contact_block {
    width: calc(30% - 30px);
    margin: 0 15px;
  }
  .footer_section .flex_container .social_icon_block {
    width: calc(20% - 30px);
    margin: 0 15px;
  }
}

@media (max-width: 991px) {
  .footer_section .flex_container .logo_block {
    width: calc(50% - 30px);
  }

  .footer_section .flex_container .menu_block {
    width: calc(50% - 30px);
  }

  .footer_section .flex_container .contact_block {
    width: calc(50% - 30px);
  }
  .footer_section .flex_container .social_icon_block {
    width: calc(50% - 30px);
  }
}

@media (max-width: 767px) {
  .footer_section .flex_container {
    margin: 0;
    padding-bottom: 40px;
  }
  .footer_section .flex_container .logo_block {
    width: 100%;
    margin: 0 0 20px 0;
  }

  .footer_section .flex_container .menu_block {
    width: 100%;
    margin: 0 0 20px 0;
  }

  .footer_section .flex_container .contact_block {
    width: 100%;
    margin: 0 0 20px 0;
  }
  .footer_section .flex_container .social_icon_block {
    width: 100%;
    margin: 0;
  }
}
