.footer__site_page .flex_container{
  display: flex;
  flex-wrap: wrap;

}
.footer__site_page .flex_container .logo_block{
  width: 30%;
}
.footer__site_page .flex_container .menu_block{
  width: 20%;
}
.footer__site_page .flex_container .contact_block{
  width: 30%;
}
.footer__site_page .flex_container .social_icon_block{
  width: 20%;
}
.logo_block img{
  display: block;
  margin: 0 auto;
  max-width: 250px;
  width: 100%;
  height: auto; 
}