/* Add Custom Module Style Only */
.slick-dots li button:before {
  content: "" !important;
  height: 13px !important;
  width: 13px !important;
  text-align: center !important;
  opacity: 1 !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  opacity: 1 !important;
  border: 2px solid #cbd5e0 !important;
  border-radius: 100% !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}
.slick-dots li.slick-active button:before {
  opacity: 1 !important;
  border-radius: 100% !important;
  background: linear-gradient(225deg, #f76680 0%, #57007b 100%) !important;
  width: 18px !important;
  height: 18px !important;
  border: none !important;
}
.slick-dots {
  margin-top: 38px;
  position: relative !important;
  bottom: -38px;
}
.slick-slide {
  margin-right: 39px;
}
.slick-list {
  overflow: visible !important;
}
.slick-slider.slick-initialized {
  padding-right: 217px;
}
.slick-track {
  display: flex !important;
}

/* blog css start here */

.recent-blog-listing .recent-blog-list-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.recent-blog-listing .recent-list-card {
    width: calc(33.33% - 30px);
    margin: 0 15px;
}
.recent-blog-listing .recent-topic-link {
    padding: 5px;
    background-color: orange;
    border-radius: 7px;
    margin-bottom: 10px;
}
.recent-blog-listing .recent-card-heading h3 {
    margin: 20px 0;
}

@media only screen and (max-width: 1199px) {
  .slick-slider.slick-initialized {
    padding-right: 0;
  }
  .slick-slide {
    margin: 0 15px;
  }
}
@media only screen and (max-width: 991px) {
  .recent-blog-listing .recent-list-card {
      width: calc(50% - 30px);
      margin: 0 15px;
  }
}
@media only screen and (max-width: 767px) {
  .recent-blog-listing .recent-list-card {
      width: 100%;
      margin: 0;
  }
  .recent-blog-listing .recent-blog-list-container {
    margin: 0;
}
}
/* Timeline Style */
.beautiful-timeline-item-content,.beautiful-timeline-item-content-opposite{
  border: 1px solid #E7DAED;
  border-radius: 9px;
}