.hubdb_filter_sec .heading_container{
    text-align:center;
    margin:0 0 38px;
}
.hubdb_filter_sec .heading_container h2{
    margin:0;
}
.hubdb_filter_sec .language_name_container{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    margin:0 0 72px;
}
.hubdb_filter_sec .language_name{
    margin:0 30px 30px;
}
.hubdb_filter_sec .language_name_inner p:active,.hubdb_filter_sec .language_name_inner p:hover{
    background: linear-gradient(225deg, #F76680 0%, #57007B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    position:relative;
}
.hubdb_filter_sec .language_name_inner p:active:after,.hubdb_filter_sec .language_name_inner p:hover:after{
    content:'';
    position:absolute;
    top:5px;
    left:50%;
    width:20px;
    height:2px;
     background: linear-gradient(225deg, #F76680 0%, #57007B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.hubdb_filter_sec .language_name_inner p{
    margin:0;
    cursor:pointer;
}
.hubdb_filter_sec .filter_image_container{
        display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
}
.hubdb_filter_sec .filter_image_content{
    max-width:166px;
    margin:0 30px 30px;
}
.hubdb_filter_sec .filter_image img{
    display:block;
    width:100%;
}