.hubdb_filter_sec .heading_container{
    text-align:center;
    margin:0 0 38px;
}
.hubdb_filter_sec .heading_container h2{
    margin:0;
}
.hubdb_filter_sec .language_name_container{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    margin:0 0 72px;
}
.hubdb_filter_sec .language_name{
    margin:0 30px 30px;
}
.hubdb_filter_sec .active.language_name p,.hubdb_filter_sec .language_name_inner p:hover{
    background: linear-gradient(225deg, #F76680 0%, #57007B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.hubdb_filter_sec .active.language_name p::after{
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -4px;
  width: 25px;
  height: 3px;
  background: linear-gradient(225deg, #f76680, #57007b);
  border-radius: 3px;
  z-index: 1;
}
.hubdb_filter_sec .language_name_inner p{
    margin:0;
    cursor:pointer;
        position:relative;
}
.hubdb_filter_sec .filter_image_container{
        display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
}
.hubdb_filter_sec .filter_image_content{
    max-width:166px;
    margin:0 30px 30px;
}
.hubdb_filter_sec .filter_image img{
    display:block;
    width:100%;
}

@media only screen and (max-width:991px){

}

@media only screen and (max-width:767px){
    .hubdb_filter_sec .language_name_container{
    margin:0 0 50px;
}
    .hubdb_filter_sec .filter_image_content{
    margin:0 15px 20px;
    max-width:120px;
}
.hubdb_filter_sec .language_name{
    margin:0 15px 20px;
}
.hubdb_filter_sec .heading_container{
    margin:0 0 25px;
}
}